www
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
.*
!/.gitignore
*.jpg
*.png
*.tar
*.sh
*.sqlite
*.zip
*.sqlite-shm
*.sqlite-wal
*.ipynb
*.html
*.mp4
*.avi
*.google.token
faces
gtfs
ha.tar
